import * as React from 'react';
import { cx } from '@emotion/css';
import './{{properCase name}}.scss';

// https://www.saltycrane.com/cheat-sheets/typescript/react/latest/#react
export type {{ properCase name }}Props = React.HTMLAttributes<HTMLElement> & {
  className?: string;
};

const {{ properCase name }}: React.FC<{{ properCase name }}Props> = (props) => {
  const {
    className,
  } = props;

  return (
    <div
      data-component="{{dashCase name}}"
      className={cx('{{dashCase name}}', className)}
    >
      hi, {{ properCase name }}
    </div>
  );
};

export default React.memo({{ properCase name }});
