import * as React from 'react';
import { cx } from '@emotion/css';
import './{{properCase name}}.scss';

export type {{ properCase name }}Props = {
  className?: string;
};

const {{ properCase name }}: React.FC<{{ properCase name }}Props> = (props) => {
  const {
    className,
  } = props;

  return (
    <div
      data-component="{{properCase name}}"
      className={cx('{{dashCase name}}', className)}
    >
      hi, {{ properCase name }}
    </div>
  );
};

export default React.memo({{ properCase name }});
